@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
:root{
    font-family: 'Source Sans Pro', sans-serif;
    --primary-color: rgb(16, 16, 207);
    --secondary-color: rgb(232, 232, 232);
    --background-color: rgb(247 255 255);
    background-color: var(--background-color);
}


/* @Navigation-Bar */
.navigation {
    background-color: var(--primary-color);
    padding: 2rem;
    color: var(--secondary-color);
    border-radius: 0.3rem;
}

.navigation a {
    color: var(--secondary-color);
    text-decoration: none;
}

.nav-pills {
    text-align: right;
}

.nav-brand {
    font-weight: bold;

}
.link-btn {
    background-color:rgb(0 0 0 / 20%);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}



/* @Header */
.header {
    padding: 2rem;
}

.header-img {
    max-width: 300px;
    display: block;
    margin: auto;
}

.header-heading {
    text-align: center;
}



/* @Section */
.section{
    text-align: center;
    padding: 3rem 0rem;
}

.flex-div {
    margin: auto;
    background-color: aliceblue;
    border-radius: 0.5rem;
    padding: 2rem;
} 

.section-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-div {
    max-width: 100px;
}

.about-me {
    margin: 1rem 10rem;
}

.about-me-img {
    max-width: 160px;
    margin-top: 2rem 0rem;
}

.div-foot {
    margin-top: 1rem;
}



/* @Link  */
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.3rem;
    color: var(--secondary-color);
}



/* @Footer */
.footer {
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
}

.footer .link {
    color: var(--secondary-color);
}

.footer-text {
    color: var(--secondary-color);
    padding: 2rem 0rem;
}

.footer ul {
    padding-inline-start: 0px;
}


/* @List */
.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}